doctype html
html(lang="en")

	head
			title=title
			link(href="/stylesheets/style.css", rel="stylesheet")
	body
			h1
				a(href="http=//store.com") Fruit Store
			div
					p Our fruit store has selected delicious on internet, 100% satisfaction

					img(src="images/" + image)

			h2 Our fruits

			ul
				li Apple
				li Orange
				li Lime
				li=fruit
